*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: white;
}
.main{
    display: flex;
    height: 50%;
    width: 100%;
}
.sec{
    display: flex;
    height: 100%;
    width: 50%;
}
.black{
    background-color: black;

}
.maroon{
    background-color: maroon;
}
.grey{
    background-color: slategray;
}
.red{
    background-color: red;
}
.circle1{
    position: absolute;
    border-radius: 50%;
    background-color: aqua;
    height: 50%;
    width: 25%;   
    left: 13%;
}
.circle2{
    position: absolute;
    border-radius: 50%;
    background-color: palevioletred;
    height: 50%;
    width: 25%;   
    right: 12%;
}
.circle3{
    position: absolute;
    border-radius: 50%;
    background-color: green;
    height: 50%;
    width: 25%;   
    left: 38%;
}